.footer_container{
    display: flex;
    color: #C17C6C;
    background-color: #F6F4EC;
}
.footer_container a{
    color: #C17C6C;
}
.ul_right{
    margin-left: 150px;
}
.text_right{
    margin-left: 500px;
    padding-bottom: 40px;
}
.text_right button{
    border-color: #C17C6C;
    background-color: #F6F4EC;
    color: #C17C6C;
     text-align: end;
     width: 450px;
}
.footer_2{
    background-color: #F6F4EC;
    text-align: center;
    color: #C17C6C;
}
.border{
     border-bottom: 1px solid #C17C6C;
}